#logo{ 
	position:fixed; 
	top:3%;
	left:2%;
}

body{
    position:fixed;
}

h1{
    width:1000px;
    height:60px;
    font-size:45px;
    margin-top:-700px;
    margin-left:400px;
    font-family:sans-serif;
    color:white;
    background-color:darkgray;
}

h2{
    font-size:35px;
    font-family:sans-serif;
    color:black;
}

p{
    font-size:20px;
    font-family:sans-serif;
    color:darkslategray;
}

.box{
    width:1100px;
    height:600px;
    margin-top: 0px;
    margin-left:400px;
    background-color: lightgray;
    border-radius:20px;
}

