#logo{ 
	position:fixed; 
	top:3%;
	left:2%;
}

body{
    position:fixed;
}

h1{
    width:1000px;
    height:60px;
    font-size:45px;
    margin-top:-680px;
    margin-left:400px;
    font-family:sans-serif;
    color:white;
    background-color:darkgray;
}

.slideshow{
    width:900px;
    height:600px;
    margin-top:-0px;
    margin-left:500px;
    background-color:none;
}
